.block-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.treeImage {
  width: 60%;
}

.first-block, .second-block {
  text-align: center;
}

.third-block {
  margin-top: 40px;
}

.first-button {
  margin-right: 3em;
  border: 2px solid #F0F0F0;
}

.second-button {
  background-color: #11aa58;
  color: white;
}

button {
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 18px;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none!important;
}

@media only screen and (max-width: 839px) {
  .block-container {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .second-block {
    padding: 10px 20px;
  }

  .third-block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .first-button {
    background: none;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
